<h1>ユーザー情報</h1>
<p>メールアドレス：<%= @user.email %></p>

<h3 class="mt-5">アカウントの削除</h3>
<hr>
<%= link_to 'アカウントを削除する',
  unsubscribe_path,
  data: { turbo_method: :delete, turbo_confirm: 'アカウントを削除します。よろしいですか？' },
  class: "btn btn-danger" %>
